
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}




header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-family: 'Cinzel', serif;
  font-size: 2em;
}

.container-padre {
  display: flex;
  flex-wrap: wrap;
}

.champion-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  flex: 1 0 auto; 
}


.champion-info {
  max-width: 400px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  flex: 1 0 auto;
}

.champion-info:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.champion-info h1 {
  color: #3498db;
  margin-bottom: 10px;
}

.champion-image img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.champion-section {
  padding: 20px;
}

.champion-section h2 {
  color: #3498db;
  margin-bottom: 10px;
}

.champion-section p {
  color: #555;
}

.champion-section ul {
  list-style: none;
  padding: 0;
}

.champion-section li {
  color: #333;
  margin-bottom: 5px;
}


#estadistica {
  background-color: #f9f9f9;
}


#informacion {
  background-color: #f0f0f0;
}
.BuscarInvocador{
  align-items: center;
}